body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('rin2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.navSubMenu,
.screenReaderText  { height:1px; line-height:2em; margin:-1px; opacity:0; overflow:hidden; pointer-events:none; position:absolute; width:1px; }
.topnav {
  overflow: hidden;
  background-color: #EFDCC3;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ebbe83;
  color: #FFFFFF;
}

.topnav a.active {
  background-color: #DEB887;
  color: white;
}

.topnav-right {
  float: right;
}

.card {
  box-shadow: 5px 10px #888888;
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: green;
  font-size: 22px;
}

.vertical-menu {
  width: 200px;
}

.vertical-menu a {
  background-color: #EFDCC3;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: #ebbe83;
}

.vertical-menu a.active {
  background-color: #DEB887;
  color: white;
}
  .dropbtn {
    width: 200px;
    background-color: #00bfff;
    color: white;
    padding: 12px;
    font-size: 12px;
    border: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #e6b800;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: #00b386;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #00cc00;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #b30000;
  }
